.home-banner {
  padding: 0;
  position: relative;
  margin-top: calc(-1 * clamp(140px, 12vw, 180px));
  z-index: 0;
}

.home-banner img {
  width: 100%;
  max-height: clamp(500px, 50vw, 800px);
  object-fit: cover;
  display: block;
}
