.conseils-deco {
  padding: clamp(2rem, 5vw, 3.5rem);
  margin-top: clamp(32px, 5vw, 64px);
  font-family: 'Georgia', serif;
  position: relative;
  background-color: #d8c09bc5;
}

.conseils-deco h2 {
  font-family: 'Georgia', serif;
  font-size: clamp(1.5rem, 2.5vw, 2.2rem);
  font-weight: normal;
  color: #2c2c2c;
  margin: 0;
  line-height: 1.2;
  margin-bottom: clamp(4px, 0.8vw, 7px);
}

.conseils-deco ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem ;
}

.conseils-deco li {
  font-size: clamp(0.95rem, 1.45vw, 1.15rem);
  line-height: 1.7;
  font-family: 'Segoe UI', serif;
  letter-spacing: clamp(0.2px, 0.3vw, 0.3px);
  text-align: left;
  background-color: #fff;
  padding: 0.8rem 1.5rem;
  border-left: 4px solid #46462a;
}

.conseils-deco li strong {
  color: #46462aa9;
  margin-right: 0.2rem; 
  font-family: 'Georgia', serif;
}
